@model GYMONE.Models.RecepitDTO
@{
    ViewBag.Title = "GenerateReceipt";
}




<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

    })
</script>

<script type="text/javascript">
    $(document).ready(function () {      
    })
</script>

<script type="text/javascript">
    function Checkpanel() {

    }

</script>


<script type="text/javascript">
    $.noConflict();
</script>

<div class="container">
    <div style="margin-top: 100px"></div>
    <fieldset>

        <legend class="legend">Generate Receipt</legend>
        <div class="panel">

            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-3">
                            <a href="~/Normas/PlantillaAPA.docx">Download APA</a>
                            <input id="DownloadAPA" type="button" value="Download APA" style="visibility:hidden" class="btn btn-success" />
                        </div>
                        <div class="col-sm-3">
                            <a href="~/Normas/PlantillaIEEE.docx">Download IEEE</a>
                            <input id="DownloadIEEE" type="button" value="Download IEEE" style="visibility:hidden" class="btn btn-success" />
                        </div>
                        <div class="col-sm-3">
                            <a href="~/Normas/PlantillaICONTEC.docx">Download ICONTEC</a>
                            <input id="DownloadICONTEC" type="button" value="Download ICONTEC" style="visibility:hidden" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </fieldset>

</div>
<script type="text/javascript">
    function rebindpanel() {
               
    }

    window.onload = rebindpanel();
</script>

<script>

    function validatepage() {       
    }

</script>
